/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif; */


/* General Settings -------------------------------- */
*{
	font-family: 'Raleway', sans-serif;
}

:root{
	--bodyPadding: 15px; /* Variable accessible dans tous les sous enfant de body */
}

body{
	display: flex; /* Crée un contexte flex pour ses enfants */
	flex-direction: column; /* Affichage haut --> bas */
	min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
	margin: 0; /* Reinitialisation des marges ( Fix CSS par default de Google chrome )*/
	padding: 0px 15px 15px 15px; /* Marge autour de la page */
	max-width: 1500px;
}
h1{
	font-size: 20px;
	font-weight: 700;
	margin: 0px;
}
h2{
	font-size: 18px;
	font-weight: 400;
	margin: 5px 0px 0px 0px;
}
h3{
	font-size: 15px;
	font-family: Raleway-light;
	font-family: 'Raleway:wght@300', sans-serif;
	color: black;
}
p{
	font-style:normal;
	font-size: 13px;
}
.sectionTitle{
	font-size: 18px;
	font-weight: bold;
	margin: 30px;
}

.activities .sectionTitle{
	margin-left: 0px;
}

a{
	text-decoration: none;
}

.animatedHighlight{
	/* Anim settigs */
	transform:scale(1);
	transition: cubic-bezier(.14,.43,.19,.97);
	transition-property: transform;
	transition-duration: 400ms;
}

.animatedHighlight:hover{
	transform: scale(1.025);
}

/* Header -------------------------------------------- */

.headerDesktop{
	display: flex;
	flex-direction: row;
}
	.logoArea{
		flex: 1 1 auto; /* occupe la hauteur restante */
	}
		.logo{
			padding: 10px;
		}

	.headerMenuArea{
		align-self: center; /* Positionné au centre par rapport a la hauteur du header */
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

		.headerMenuItem{
			display: flex;
			flex-direction: column;
			position: relative;
		}

		.headerMenuItem:not(.signup) a:before{ /* Positionné en 1er enfant a l'interieur de l'elt ciblé */  
			content: ""; /* Obligatoire pour créer un bloc visuel */
			display: block;
			position: absolute;
			
    		top:0;
			right: 0;
			left: 0;
			width: 95%;
			height: 2px;
		}

		.headerMenuItem a{
			margin: 20px;
			color: #797979;
			text-decoration: none;
		}

		.headerMenuItem a:hover {
			color: #0065FC;
		}
	
/* TODO : Apply animation on eleemnt on other element hover */
		.headerMenuItem a:hover::before{
			background-color: #0065FC;
		}

			.signup a{
				color: #0065FC;
				font-weight: bold;
			}
	
	

	

/* Search Section -------------------------------------- */
.search{
	padding: 10px;
	/*background-color: lightgreen;*/
}
	.search p{
		font-size: 15px;
		margin-top: 5px;
	}
	.search--bar{
		display: flex;
		flex-direction: row;
		min-height: 50px;
		width: 100%;
		height: 50px;
		margin-top: 10px;
	}
		.search--pinBox{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			height:100%;
			width: 45px;
			border-radius: 10px 0px 0px 10px;
			background-color: #F2F2F2;
			
		}
		.search--textField{
			padding-left: 15px;
			border: 1px solid;
			border-color: #F2F2F2;
			height: 92%;
			min-width: 250px;
			font-weight: 700;
			font-size: 15px;
			color: black;
		}
		.search--sendBt{
			height: 100%;
			font-size: 15px;
			border: none;
			font-weight: 500;
			width: 110px;
			margin-left: -2.5px;
			border-radius: 0px 10px 10px 0px;
			background-color: #0065FC;
			color: white;
		}
			.search--sendBt i{
				display: none; /* Cacher un element*/
			}

			.search--sendBt span{
				font-weight: 700;
			}


		::placeholder {
			font-weight: 400;
			font-size: 15px;
			color: grey;
		}

		.searchForm{
			display: flex;
			width: 100%;
		}

	.search--filters{
		display: flex;
		align-items: center;
		flex : 1 1 auto;
		flex-wrap: wrap;
		height: auto;
		margin-top: 20px;
		/*background-color: lightsalmon;*/
	}
		.search--filters h2{
			font-size: 18px;
			font-weight: 700;
			margin: 5px 10px 0px 0px;
		}
		
		.search--filters a{
			color: black;
		}

		.search--filterBt{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin : 5px;
			margin-left: 10px;
			margin-right: 10px;
		}

		.search--filterBt:hover{
			/* Anim settigs */
			transform: scale(1.15);
			color: #0065FC;
		}
			.filterIcon{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 52px;
				width: 52px;
				border-radius: 50%;
				background-color: #DEEBFF;
				z-index: 1;
			}
				.filterIcon i{
					color: #0065FC;
				}

			.filterLabel{
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid;
				border-color: #c7c7c7;
				border-radius: 0px 35px 35px 0px;
				margin-left: -25px;
				padding-right: 15px;
				background-color:white;
			}
				.filterLabel p{
					font-weight: bold;
					margin-left: 30px;
					margin-top: 15px;
					font-size: 15px;
				}
		
	.search--infoMsg{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 15px;
		box-sizing: border-box;
	}
		.infoIcon{
			display: flex;
			justify-content: center;
			align-content: center;
			border : 1px solid;
			border-color: #c7c7c7;
			box-sizing: border-box;
			border-radius: 20px;
			margin-right: 10px;
			margin-bottom: 10px;
			min-width: 20px;
			min-height: 20px;
		}
			.infoIcon i{
				margin-top: 4px;
				color: #0065FC;
			}

/* (H) Hebergements ----------------------------------- */
.wrapper {
	flex: 1 1 auto; /* Flex grow ( Faculté agrandiss* / Flex Shrink ( Faculté retressiss* / Flex Basis ( Taill init )*/
	display: flex; /* crée un contexte flex pour ses enfants */
	flex-direction: row; /* Affichage gauche --> droite */
	min-height: 40vh; /* 40% de la hauteur du viewport */
	margin-bottom: 20px;
	/*background-color: lightgray;*/
}
	.hotels--current{
		display: flex; 
		flex: 1 1 auto;
		flex-direction: column;
		border-radius: 20px;
		width: 65%; /* 65% de la largeur du parent */
		margin-right: 15px;
		background-color:#F2F2F2;
		order: 1;
	}

		.hotels--current--cards{
			display: flex; 
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content:space-evenly;
			margin: 10px;
		}
			.hotelItem{
				display: flex;
				color: black;
				flex-direction: column;
				border-radius: 15px;
				box-shadow: 3px 3px 11px -3px gray;
				margin : 10px;
				border: 5px solid white;
				height: 180px;
				width: 230px;
			}
				.hotelItem--img{
					border-radius: 12px;
					border-bottom-right-radius: 0px;
					border-bottom-left-radius: 0px;
					object-fit: cover;
					width: 100%;
					height: 60%;
				}
				.hotelItem--infoSection{
					display: flex;
					flex-direction: column;
					flex: 1 1 auto;
					border-radius: 10px;
					border-top-right-radius: 0px;
					border-top-left-radius: 0px;
					overflow: hidden; /* Cache les parties qui dépasse */ 
					background-color: white;
				}
					.hotelItem--infoSection h3{ /* Titres inclus dans infoSection */ 
						margin : 10px 0px 2px 5px;
						line-height: 1.2;
					}
					.hotelItem--infoSection p{ /* Paragraphes inclus dans infoSection */ 
						margin : 0px 0px 5px 5px;
						line-height: 1.3;
					}
					.hotelItem--infoSection div{ /* Conteneurs inclus dans infoSection */ 
						margin-left: 5px;
					}


	/* H - Les plus populaires */ 
	.hotels--popular {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		margin-left: 15px;
		background-color:#F2F2F2;
		width: 30vw; /* 30% of Viewer Width */
		order: 2;
	}
		.mostPopularTitle{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
			.mostPopularTitle i{
				margin : 30px;
			}

		.hotels--popular .hotels--current--cards{
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: flex-start;
			/*border: 1px solid red;*/
		}

			.hotels--popular .hotelItem{
				display: flex;
				flex-direction: row;
				width: 80%;
				margin-top: 10px;
				margin-bottom: 10px;
				height: 120px;
				
			}

				.hotels--popular .hotelItem--img{
					border-radius: 12px 0px 0px 12px;
					object-fit: cover;
					width: 40%;
					height: 100%;
				}

				.hotels--popular .hotelItem--infoSection{
					margin-left: 10px;
					/*background-color: burlywood;*/
				}

				.hotels--popular .ratingStars{
					margin-top: 15px;
				}
	.showMore{
		color: black;
		font-weight: 700;
		margin-top: 5px;
		margin: 30px;
	}

	.activities{
		margin-bottom: 65px;
	}

	.activities--cards {
		display: grid;
		width: 100%;
		height: 500px;
		justify-items: stretch;
		align-items: stretch;
		grid-template-rows: repeat(10, 1fr);
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}
	
	.div1 { grid-area: 1 / 1 / 11 / 2;}
	.div2 { grid-area: 7 / 2 / 11 / 3;}
	.div3 { grid-area: 1 / 2 / 7 / 3;}
	.div4 { grid-area: 1 / 3 / 11 / 4;}
	.div5 { grid-area: 1 / 4 / 5 / 5;}
	.div6 { grid-area: 5 / 4 / 11 / 5;}
	.div7 { grid-area: 1 / 5 / 11 / 6;}

	.activity{
		display: flex;
		flex-direction: column;
		height: 100%;
		min-width: 0; /* Reinitialisation des valeur ( Fix )
		/*
		display: flex;
		width: 100%;
		justify-content: stretch;
		box-sizing: border-box;
		background-color: blue;
		z-index: 1;
		/*
		display: flex;
		flex-direction: column;
		*/
	}
	
	.activity a{
		flex:1 1 auto;
	}

	.activity h3 {
		margin-left: 15px;
		margin-top: 20px;
	}

	.imgAct{
		object-fit: cover;
		flex: 1 1 auto;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
		box-shadow: 3px 3px 11px -3px gray;
	}
	
	.infoAct{
		/*flex: 1 1 auto;
		display: flex;
		align-items: center;
		align-self: flex-end;
		box-sizing: border-box;
		height: 60px;
		flex-shrink: 0;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 3px 3px 11px -3px gray;
		*/
		
		height: 60px;
		flex-shrink: 0;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 3px 3px 11px -3px gray;
		background-color: white;
	}
		.infoAct p{
			margin: 20px;
			font-size: 16px;
			font-weight: bold;
		}	

/* Footer */
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin: -15px;
	background: #F2F2F2;
}

.footerItem{
	display: flex;
	flex-direction: column;
	margin: 15px;
	padding: 15px;
}

	.footerItem h2{
		font-weight: bold;
		margin-bottom: 15px;
	}

	.footerItem a{
		margin-bottom: 10px;
		color: black;
	}

/* Responsive Setup */
@media (max-width: 1015px) { /* [1230] when viewport width is smaller than value */
	body {
	min-height: 0; 
	}

	/* Hebergement */
	.wrapper {
		flex-direction: column;
		box-sizing: border-box;
	}

	header{
		position: fixed;
		top: 0px;
		height: 125px;
		background-color: white;
		width: 100%;
		z-index: 1;
	}

	nav {
		width: auto;
		flex: 1;
	}

	.hotels--current{
		order: 2;
		min-height: 100vh;
		margin-right: 0;
		margin-top: 40px;
		width: 100%;
		background-color:unset;
	}

	.hotels--current--cards{
		margin-bottom: 10px;
	}

	.hotels--popular{
		order: 1;
		height: fit-content;
		margin-left: 0;
		width: 100%;
		padding-bottom: 30px;
	}

		.hotels--popular .hotelItem{
			width: 90%;
			box-sizing: border-box;
		}

	.sectionTitle{
		margin: 0;
		font-size: 24px;
		margin-left: 20px;
		
	}
	
	/* .headerMenuItem.signup{ // pas d'espace = Un element dans la page qui possede les 2 classes en meme temps */
	.headerDesktop .signup { /* espace = Parent --> enfant */
		position: absolute;
		right: 15px;
		top: 5px;
	}

	.headerMenuItem:not(.signup){	/* tous les elements du menu sauf signup */
		align-items: center;
		width: 100%;
		margin : -20px -20px 20px -20px;
		
	}

	.headerMenuItem:not(.signup) a:before{
		display: none;
	}

	.headerMenuItem:not(.signup) a:after{
		display: block;
		content: "";
		height: 2px;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color: #dfdfdf;
	}

	.headerMenuItem a:hover::after{
		background-color: #0065FC;
	}

	.signup a{
		/*padding-top: 9px;*/
	}

	.headerDesktop{
		flex-direction: column;
	}

	.headerMenuArea{
		flex: auto;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	
	.hotelItem{
		width: 100%;
		/*height: 5%;*/
	}

	.activities{
		margin:20px;
		margin-bottom: 65px;
	}

	.activities--cards {
		display: grid;
		height: fit-content;
		margin-top: 10px;
		justify-items: stretch;
		align-items: stretch;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}

		.activities{
			height: fit-content;
		}
			.activity {
				height: 200px;
				width: 100%;
				grid-area: auto;
				/*
				height: 20vh;
				margin: 10px;
				margin-left: 10px;
				margin-right: 0px;
				margin-bottom: 40px; */
			}
	.search{
		margin-top: 150px;
	}
	
	.search--textField{
		flex : 1 1 auto;
		height: 100%;
		width: 100%;
		min-width: 0px;
		box-sizing: border-box;
	}

	.search--pinBox{
		width: 50px;
	}
	.search--sendBt{
		width: 50px;
	}

	.search--sendBt span{
		display: none;	/* Cacher un element */
	}

	.search--sendBt i{
		display: block; /* Afficher un element en mode block */
	}

	.footerItem {
		width: 100%;
	}
}

@media (min-width: 1275px) {
	body{
		margin-left:auto;
		margin-right: auto;
	}
}