* {
	box-sizing: border-box;
  }

.hotels{
	position: relative;
	width: 100%;
	height: 600px;
	background-color: lightgray;
}

.hotels--current{
	width: 70%;
  	float: left;
  	padding: 100px;
	margin: 20px;
	border: 1px solid blue;
}

.hotels--popular{
	width: 20%;
  	float: left;
  	padding: 100px;
	margin: 20px;
  	border: 1px solid red;
}